.App {
  border: 2px solid black;
  width: min(80vw, 70vh);
  height: min(80vw, 70vh);
  display: block;
  position: relative;
  margin: auto;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  padding-top: 5vh;
  box-sizing: border-box;
}

.tile {
  width: calc(0.25 * min(80vw, 70vh));
  height: calc(0.25 * min(80vw, 70vh));
  font-size: 2rem;
  padding: 10px;
  background-color: white;
  position: absolute;
  box-sizing: border-box;
}

.tile div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --leftFrom: 0;
  --left: 0;
  --topFrom: 0;
  --top: 0;
}

@keyframes slide {
  from {
    left: var(--leftFrom);
    top: var(--topFrom);
  }
  to {
    left: var(--left);
    top: var(--top);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tile-2 {
  background-color: hsl(0, 100%, 75%)
}

.tile-4 {
  background-color: hsl(25, 100%, 75%)
}

.tile-8 {
  background-color: hsl(50, 100%, 75%)
}

.tile-16 {
  background-color: hsl(75, 100%, 75%)
}

.tile-32 {
  background-color: hsl(100, 100%, 75%)
}

.tile-64 {
  background-color: hsl(125, 100%, 75%)
}

.tile-128 {
  background-color: hsl(150, 100%, 75%)
}

.tile-256 {
  background-color: hsl(175, 100%, 75%)
}

.tile-512 {
  background-color: hsl(200, 100%, 75%)
}

.tile-1024 {
  background-color: hsl(225, 100%, 75%)
}

.tile-2048 {
  background-color: hsl(250, 100%, 75%)
}