.App {
  width: min(80vw, 70vh);
  height: min(80vw, 70vh);
  display: block;
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
}

.wrapper:focus {
  outline: none;
}

.header {
  width: min(80vw, 70vh);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
}

.header button {
  font-size: 1.4rem;
  border: none;
  background-color: rgba(27, 27, 27, 0);
  padding: 10px 20px;
  cursor: pointer;
  color: rgb(216, 216, 216);
  margin: 0 auto;
  display: block;
  border: 2px solid rgb(49, 49, 49);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .header button {
    font-size: 1.1rem;
  }
}

.header button:hover {
  background-color: rgb(49, 49, 49);
}

.header button:focus {
  outline: none;
}

.score {
  color: rgb(219, 219, 219);
  font-size: 1.2rem;
}

.score div {
  text-align: center;
  padding: 10px;
}

.score div * {
  margin: 5px 0;
}

.tile {
  width: calc(0.25 * min(80vw, 70vh));
  height: calc(0.25 * min(80vw, 70vh));
  padding: calc(0.01 * min(80vw, 70vh));
  background-color: transparent;
  position: absolute;
  box-sizing: border-box;
}

.tile div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 3rem;
  color: rgb(27, 27, 27);
}

@media screen and (max-width: 600px) {
  .tile div {
    font-size: 1.8rem;
  }
}

:root {
  --leftFrom: 0;
  --left: 0;
  --topFrom: 0;
  --top: 0;
}

@keyframes slide {
  from {
    left: var(--leftFrom);
    top: var(--topFrom);
  }
  to {
    left: var(--left);
    top: var(--top);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tile-2 {
  background-color: hsl(0, 100%, 65%);
}

.tile-4 {
  background-color: hsl(25, 100%, 65%);
}

.tile-8 {
  background-color: hsl(50, 100%, 65%);
}

.tile-16 {
  background-color: hsl(75, 100%, 65%);
}

.tile-32 {
  background-color: hsl(100, 100%, 65%);
}

.tile-64 {
  background-color: hsl(125, 100%, 65%);
}

.tile-128 {
  background-color: hsl(150, 100%, 65%);
}

.tile-256 {
  background-color: hsl(175, 100%, 65%);
}

.tile-512 {
  background-color: hsl(200, 100%, 65%);
}

.tile-1024 {
  background-color: hsl(225, 100%, 65%);
}

.tile-2048 {
  background-color: hsl(250, 100%, 65%);
}

.tile-4096 {
  background-color: hsl(275, 100%, 65%);
}

.tile-8192 {
  background-color: hsl(300, 100%, 65%);
}

.tile-16384 {
  background-color: hsl(325, 100%, 65%);
}

.tile-32768 {
  background-color: hsl(0, 0%, 75%);
}

.winner {
  background-color: rgba(32, 32, 32, 0.87);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: calc(0.15 * min(80vw, 70vh));
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.winner h1 {
  font-size: 3rem;
  color: white;
}

.winner button {
  font-size: 1.4rem;
  border: none;
  background-color: rgb(32, 32, 32);
  padding: 10px 20px;
  cursor: pointer;
  color: rgb(216, 216, 216);
  margin: 0 auto;
  display: block;
  border: 2px solid rgb(49, 49, 49);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.winner button:hover {
  background-color: rgb(49, 49, 49);
}

.grid {
  width: calc(0.25 * min(80vw, 70vh));
  height: calc(0.25 * min(80vw, 70vh));
  padding: calc(0.01 * min(80vw, 70vh));
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
}

.grid > div {
  background-color: rgb(49, 49, 49);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.buttons div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.buttons button {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
}

.buttons button:hover {
  background-color: rgb(49, 49, 49);
}

.buttons button:focus {
  background-color: rgb(17, 17, 17);
}

.buttons svg {
  width: 100%;
  height: 100%;
  color: rgb(200, 200, 200);
}

.up {
  grid-column: 2;
  grid-row: 0;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.right {
  grid-column: 3;
  grid-row: 2;
}

.down {
  grid-column: 2;
  grid-row: 3;
}
